YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=

APP_ID=
PRIVATE_KEY=
SERVICE_KEY=
VK_CALLBACK_URL=

REDIS_HOST=auth_redis
REDIS_PORT=6379
REDIS_URL=redis://auth_redis:6379/0

TASKIQ_BROKER_URL=redis://redis:6379/1
TASKIQ_RESULT_BACKEND=redis://redis:6379/2

TG_API_GATWAY_TOKEN=



OAUTH_SUCESS_URL=http://localhost:8000
FRONTEND_URL=http://localhost:8000

SMS_API_KEY=


AUTH_BOT_TOKEN=
BOT_NAME=
AUTH_BOT_CLIENT_ID=
AUTH_BOT_CLIENT_SECRET=
AUTH_BOT_CALLBACK_URL=https://127.0.0.1/auth/api/auth/tg/callback/


TG_PROXY=

ANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=http://127.0.0.1:8000/auth_app/api/auth/callback/

APP_ID=
PRIVATE_KEY=
SERVICE_KEY=
VK_CALLBACK_URL=https://127.0.0.1/auth/api/auth/vk/callback/

REDIS_HOST=auth_redis
REDIS_PORT=6379
REDIS_URL=redis://auth_redis:6379/0

TASKIQ_BROKER_URL=redis://redis:6379/1
TASKIQ_RESULT_BACKEND=redis://redis:6379/2

TG_API_GATWAY_TOKEN=


GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=https://127.0.0.1/auth/api/auth/google/callback/
GOOGLE_CLIENT_SECRET=G
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_USER_INFO_URL=https://www.googleapis.com/oauth2/v3/userinfo

POSTGRES_HOST=auth_db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=auth_db
POSTGRES_USER_DB=auth_db

POSTGRES_HOST=localhost
POSTGRES_PORT=7437
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test


OAUTH_SUCESS_URL=http://localhost:8000
FRONTEND_URL=http://localhost:8000

e


JWT_ACCESS_TOKEN_EXPIRES=30
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=5f4dcc3b5aa765d61d8327deb882cf99b6c8e5f5d6a9c41c4d6d6b8b5d9f1d3a
JWT_REFRESH_SECRET_KEY=3a7f5e9b2d4c6a8f1b0e3d5c7a9f2e4b6d8c0a1f3e5d7b9a2c4e6f8d0b1a3e5c7f2a8d4e3b6c5d9a8f7e2d5c4b3a6d9e8f7a2b5c4d3e6f9a8b7c6d5e4f3a2b1
JWT_REFRESH_TOKEN_EXPIRES=10080
ACCESS_TOKEN_COOKIE_KEY=access_token_cookie
REFRESH_TOKEN_COOKIE_KEY=refresh_token_cookie




API_KEY=

AUTH_BOT_TOKEN=
AUTH_BOT_CLIENT_ID=
AUTH_BOT_CLIENT_SECRET=
AUTH_BOT_CALLBACK_URL=https://devserver.dodo3d.ru/auth/api/auth/tg/callback/


TG_PROXY=